<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../statics/css/catalogo.css">
    <title>Catálogo</title>
  </head>
  <body>
    <div id="menu">
      <img src="../statics/images/logo.jpg" id="logo">
      <div id="nombre">
        PALANTÍR
      </div>
      <table class="nav">
        <tr>
          <td id="mus" class="tab"><a href="index.html">Música</td>
          <td id="jue" class="tab"><a href="index.html">Juegos</td>
          <td id="pel" class="tab"><a href="index.html">Películas</td>
          <td id="perf" class="tab"><a href="perfil.html">Mi Perfil</a></td>
          <td id="cat" class="tab"><a href="catalogo.html">Catálogo</a></td>
        </tr>
      </table>
    </div>
    <div class="modal">
      <table>
        <tr id="music">
          <h2 id="titulo">MÚSICA</h2>
          <table>
          <tr>
            <td>
              <img src="../statics/images/b.jpg" class="al">
              <img src="../statics/images/vespertine.jpg" class="al">
              <img src="../statics/images/peppers.jpg" class="al">
            </td>
          </tr>
          </table>
        </tr>
        <tr id="games">
          <h2 id="titulo">JUEGOS</h2>
          <table>
            <tr>
              <td>
                <img src="../statics/images/portal.jpg" class="al">
                <img src="../statics/images/civ.jpg" class="gam">
                <img src="../statics/images/hollow.jpg" class="gam">
              </td>
            </tr>
          </table>
        </tr>
        <tr id="movies">
          <h2 id="titulo">PELÍCULAS</h2>
          <table>
            <tr>
              <td>
                <img src="../statics/images/pi.jpg" class="mov">
              </td>
            </tr>
          </table>
        </tr>
      </table>
    </div>
  </body>
</html>
