<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../statics/css/estreg2.css">
    <title>REGISTRO</title>
  </head>
  <body>
    <div class="grande">
      <div class="far">
			     <h2>Formulario <span>Registro</span></h2>
		  </div>
        <form class="fab" action="index.html" method="post" enctype="multipart/form-data">
          <label><h3>Nombre:</h3></label>
          <input class="input" type="text" name="nom" required>
          <label><h3>Usuario:</h3></label>
          <input class="input" type="text" name="usu" required>
          <label><h3>Contraseña:</h3></label>
          <input class="input" type="password" name="con" required>
          <div class="btnf">
            	<input class="btns" type="submit" name="submit"><br><br>
          </div>
          <!-- <a href="../templates/Ahorcadofinal.html">Salir</a> -->
        </form>
      </div>
  </body>
</html>
