<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../statics/css/index.css">
    <meta charset="utf-8">
    <title>Mi Perfil</title>
  </head>
  <body>
    <div id="menu">
      <img src="../statics/images/logo.jpg" id="logo">
      <div id="nombre">
        PALANTÍR
      </div>
      <table class="nav">
        <tr>
          <td id="mus" class="tab">Música</td>
          <td id="jue" class="tab">Juegos</td>
          <td id="pel" class="tab">Películas</td>
          <td id="perf" class="tab"><a href="perfil.html">Mi Perfil</a></td>
          <td id="cat" class="tab"><a href="catalogo.html">Catálogo</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>
