html{
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Gayathri', sans-serif;
  color: gold;
}
a{
  text-decoration: none;
  color: inherit;
}
#menu{
  z-index: 10;
  background-color: #181818;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100%;
}
.nav{
  position: absolute;
  right: 100px;
  top: 40px;
}
.tab{
  font-size: 30px;
  width: 150px;
  text-align: center;
  color: gold;
  transition: all  1s;
}
.tab:hover{
  cursor: pointer;
  background-color: gold;
  padding-top: 1%;
  box-shadow:inset 2px 2px 4px gold, inset -3px -3px 3px gold;
  color: black;
  border-radius: 100px;
}
#logo{
  height: 100px;
  width: 300px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.foto{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
#fondo{
  height: 100%;
  width: 100%;
}
#titulo{
  padding-top: 2px;
}
#products{
  width: 90%;
  margin-left: 4%;
}
#texto{
  position: absolute;
  top: 450px;
  width: 20%;
  height: 20%;
  left: 5%;
  background-color: #FFFD82;
}
.modal{
  text-align: center;
  background-color: #111111;
  border-radius: 20px;
  width: 70%;
  height: 510px;
  position: absolute;
  top: 130px;
  left: 190px;
}
.des{
  border: 3px solid black;
}
.img{
  height: auto;
  max-height: 200px;
  width: 25%;
}
p{
  margin: 0 !important;
}
td:hover{
  cursor: pointer;
  background-color: gray;
  transition: all 1.5s;
  color: black;
  border-radius: 60px;
}
#tumama{
  width: 20%;
}
li{
  list-style: none;
}
button{
  width: 100px;
  padding: 1%;
  margin: .5%;
  box-shadow: inset 20px gray;
  background-color: gold;
  border: none;
  border-radius: 5px;
}
button:hover{
  cursor: pointer;
  background-color: green;
  transition: all 1s;
}
