html{
  background-color: rgb(214, 214, 214);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Gayathri', sans-serif;
}
#nombre{
  color: silver;
}
#menu{
  z-index: 10;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100%;
}
.nav{
  position: absolute;
  right: 100px;
  top: 40px;
}
.tab{
  font-size: 30px;
  width: 150px;
  text-align: center;
  color: gold;
  transition: all  1s;
}
.tab:hover{
  cursor: pointer;
  background-color: gray;
  border-radius: 20px;
  padding-top: 1%;
}
#logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
}
.foto{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
#fondo{
  height: 100%;
  width: 100%;
}
#titulo{
  padding: 2%;
}
#products{
  width: 90%;
  margin-left: 5%;
}
#texto{
  position: absolute;
  top: 450px;
  width: 20%;
  height: 20%;
  left: 5%;
  background-color: #FFFD82;
}
.modal{
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: auto;
  margin-top: 20vh;
  margin-left: 15%;
}
.des{
  border: 3px solid black;
}
.img{
  height: auto;
  max-height: 200px;
  width: 25%;
}
.flecha{
  background-color: black;
  font-size: 30px;
  color: white;
}
a{
  text-decoration: none;
  color: gold;
}
#nombre{
  color: silver;
  font-weight: bold;
  position: relative;
  font-size: 6.5ex;
  top: 40px;
  left: 150px;
}
